.home {
  width: 95%;
  // margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 30px;
    background-image: url("../assets/home-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.15);

    > p {
      color: white;
      font-size: 64px;
      font-weight: bold;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      text-align: center;
    }
  }

  .gallery {
    background-color: #f6f6f6;
    height: auto;
    width: auto;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
  }
}

@media (max-width: 849px) {
  .home {
    gap: 25px;

    .gallery {
      grid-template-columns: 1fr;
    }

    &__header {
      height: 111px;

      > p {
        font-size: 32px;
        // text-align: center;
      }
    }
  }
}
