.notfound {
  text-align: center;
  padding: 3rem;

  h1 {
    font-size: 8rem;
    color: #ff6060;
    margin: 0;
  }

  p {
    color: #ff6060;
    margin-bottom: 2rem;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}
