.notfound {
  text-align: center;
  padding: 3rem;

  h1 {
    font-size: 8rem;
    color: #ff6060;
    margin: 0;
  }

  p {
    color: #ff6060;
    margin-bottom: 2rem;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}

@media (max-width: 849px) {
  .notfound {
    padding: 1.5rem;
    h1 {
      font-size: 4rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
