.header {
  width: 95%;
  margin: auto;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}
