.header {
  width: 95%;
  // margin: auto;
  max-width: 1178px;
  margin-top: 25px;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 50px;

      .nav-link {
        text-decoration: none;
      }

      .nav-active {
        text-decoration: underline;
      }

      .nav-link,
      .nav-active {
        font-size: 32px;
        color: black;
      }
    }
  }
}

@media (max-width: 849px) {
  .header {
    margin-top: 12.5px;

    &__nav {
      .link_list {
        gap: 30px;

        .nav-link,
        .nav-active {
          font-size: 20px;
        }
      }
    }
  }
}
