.header {
  width: 95%;
  margin: auto;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 50px;

      .nav-link {
        text-decoration: none;
      }

      .nav-active {
        text-decoration: underline;
      }

      .nav-link,
      .nav-active {
        font-size: 24px;
        color: black;
      }
    }
  }
}
