.thumb {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  // transform: scale(1);
  // transition-duration: 0.5s;
  width: 100%;

  &:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }
  &-cover-wrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
  }
  &-title {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 142.6%;
  }
}

.thumb,
.thumb-cover-wrapper img {
  height: 320px;
}

@media (max-width: 849px) {
  .thumb {
    &-title {
      font-size: 18px;
    }
  }

  .thumb,
  .thumb-cover-wrapper img {
    height: 200px;
  }
}
